n8n-workflows/notification-workflow.json
{
  "name": "Message Processing Notification Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "定時檢查",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3002/api/dashboard/stats",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-stats",
      "name": "獲取統計數據",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-new-messages",
              "leftValue": "={{ $json.data.overall.messages_today }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-new-messages",
      "name": "檢查新訊息",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 生成通知內容\nconst stats = $input.first().json.data;\nconst notification = {\n  title: 'Messenger AI Dashboard 更新',\n  message: `今日處理了 ${stats.overall.messages_today} 則訊息，總共 ${stats.overall.total_messages} 則訊息`,\n  categories: stats.categories,\n  recent_activity: stats.recentActivity.slice(0, 3),\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: notification }];"
      },
      "id": "generate-notification",
      "name": "生成通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "notification_logs",
        "columns": "notification_type,title,message,data,created_at",
        "additionalFields": {},
        "mode": "independently"
      },
      "id": "log-notification",
      "name": "記錄通知",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Messenger DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-tech-messages",
              "leftValue": "={{ $json.categories.find(c => c.category === '技術討論')?.count || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-tech-messages",
      "name": "檢查技術討論",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// 生成技術討論特別通知\nconst notification = $input.first().json;\nconst techNotification = {\n  title: '技術討論提醒',\n  message: `發現 ${notification.categories.find(c => c.category === '技術討論')?.count || 0} 則技術討論訊息，請查看詳情`,\n  priority: 'high',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: techNotification }];"
      },
      "id": "generate-tech-notification",
      "name": "生成技術通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        100
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "notification_logs",
        "columns": "notification_type,title,message,data,created_at",
        "additionalFields": {},
        "mode": "independently"
      },
      "id": "log-tech-notification",
      "name": "記錄技術通知",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1780,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Messenger DB"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "定時檢查": {
      "main": [
        [
          {
            "node": "獲取統計數據",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "獲取統計數據": {
      "main": [
        [
          {
            "node": "檢查新訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查新訊息": {
      "main": [
        [
          {
            "node": "生成通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成通知": {
      "main": [
        [
          {
            "node": "記錄通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "記錄通知": {
      "main": [
        [
          {
            "node": "檢查技術討論",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查技術討論": {
      "main": [
        [
          {
            "node": "生成技術通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成技術通知": {
      "main": [
        [
          {
            "node": "記錄技術通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "notification-workflow",
  "tags": [
    {
      "createdAt": "2025-09-27T05:00:00.000Z",
      "updatedAt": "2025-09-27T05:00:00.000Z",
      "id": "notifications",
      "name": "Notifications"
    }
  ]
}